html, body, div, span, applet, object, iframe,
h1, h2, h2 span, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Global
---------------------------------------- */
* {
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body a {
  text-decoration: none;
}

::selection {
  color: white;
  background: #56c6fa;
}

::-moz-selection {
  color: white;
  background: #56c6fa;
}

.wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("bg.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  /*text-rendering: optimizeLegibility;*/
  height: 700px;
}

section {
  margin: 85px 0;
}
section img {
  width: 175px;
  margin-bottom: 40px;
}

.inner {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  .inner {
    width: 80%;
  }
}
@media (max-width: 580px) {
  .inner {
    width: 95%;
  }
}
.innercolumn {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid rgba(182, 196, 209, 0.3);
}

form {
  position: relative;
  margin: 38px auto 0;
}

input[type="email"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 25px 30px;
  background-color: #fff;
  border: 1px solid #fff;
  width: 510px;
  color: #000;
  margin: 0 10px 20px 0;
  font-size: 20px;
}

input[type="submit"] {
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 21px 21px;
  border: 1px solid #ff9500;
  width: 90px;
  background: url("button-1@2x.png") no-repeat center center;
  background-size: 90px 59px;
  color: #fff;
  margin-top: 10px;
  margin-left: -142px;
  font-size: 12px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.clear {
  display: inline-block;
}

.clear:before {
  background: url("swift@2x.png");
  background-size: 35px 31px;
}

input[type="submit"]:hover {
  background-color: #ff7621;
  border: 1px solid #ff7621;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 640px) {
  input[type="email"] {
    box-sizing: border-box;
    width: 99% !important;
    margin-bottom: 10px !important;
    padding: 17px 0px 17px 18px;
    margin: 10px 10px 0 0;
  }

  input[type="submit"] {
    box-sizing: border-box;
    width: 99% !important;
    margin-bottom: 10px !important;
    background: url("button-2@2x.png") no-repeat center center;
    background-size: 584px 59px;
    padding: 17px 0px 17px 0px;
    margin: 10px 10px 0 0;
  }
}
textarea:focus, input:focus {
  outline: 0;
}

@media screen and (max-width: 700px) {
  .wrapper {
    height: 750px;
  }
}
@media screen and (max-width: 650px) {
  .wrapper {
    height: 780px;
  }
}
@media screen and (max-width: 640px) {
  .clear {
    width: 100%;
  }

  .wrapper {
    height: 820px;
  }
}
@media screen and (max-width: 540px) {
  .wrapper {
    height: 870px;
  }
}
@media screen and (max-width: 400px) {
  .wrapper {
    height: 900px;
  }
}
/* Grid
---------------------------------------- */
.container {
  position: relative;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: fadeIn 1s 0.5s ease forwards;
  -moz-animation: fadeIn 1s 0.5s ease forwards;
  -ms-animation: fadeIn 1s 0.5s ease forwards;
  -o-animation: fadeIn 1s 0.5s ease forwards;
  animation: fadeIn 1s 0.5s ease forwards;
}

.row {
  width: 100%;
  display: inline-block;
  margin: 0px 30px 0px 30px;
}

.column {
  float: left;
  margin: 0% 0.980392156863% 20px 0.980392156863%;
}

.one-column {
  width: 6.372549019608%;
}

.two-column {
  width: 14.705882352941%;
}

.three-column {
  width: 23.039215686275%;
}

.four-column {
  width: 31.372549019608%;
}

.five-column {
  width: 39.705882352941%;
}

.six-column {
  width: 48.039215686275%;
}

.seven-column {
  width: 56.372549019608%;
}

.eight-column {
  width: 64.705882352941%;
}

.nine-column {
  width: 73.039215686275%;
}

.ten-column {
  width: 81.372549019608%;
}

.eleven-column {
  width: 89.705882352941%;
}

.twelve-column {
  width: 98.039215686275%;
}

.six-column-full {
  width: 50%;
}

@media (max-width: 680px) {
  .six-column-full {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  .one-column {
    width: 98.039215686275%;
  }

  .two-column {
    width: 98.039215686275%;
  }

  .three-column {
    width: 98.039215686275%;
  }

  .four-column {
    width: 98.039215686275%;
  }

  .five-column {
    width: 98.039215686275%;
  }

  .six-column {
    width: 98.039215686275%;
  }

  .seven-column {
    width: 98.039215686275%;
  }

  .eight-column {
    width: 98.039215686275%;
  }

  .container {
    margin: 0 25px;
  }
}
/* Typography
---------------------------------------- */
h2, h2 span {
  font-size: 52px;
  font-weight: 200;
  line-height: 52px;
  margin-bottom: 20px;
}
h2 span {
  font-weight: 400;
}

p {
  font-size: 20px;
  letter-spacing: .1em;
  line-height: 30px;
  font-weight: 200;
  text-align: center;
}

/* Animations
---------------------------------------- */
/* Variables
---------------------------------------- */
/* Mixins
---------------------------------------- */
/* Header
---------------------------------------- */
.line {
  height: 5px;
  background-color: #ff9500;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5e3a), to(#ff9500));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(to right, #ff5e3a, #ff9500);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(to right, #ff5e3a, #ff9500);
  /* FF3.6 */
  background-image: -ms-linear-gradient(to right, #ff5e3a, #ff9500);
  /* IE10 */
  background-image: -o-linear-gradient(to right, #ff5e3a, #ff9500);
  /* Opera 11.10+ */
  background-image: linear-gradient(to right, #ff5e3a, #ff9500);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ff5e3a', EndColorStr='#ff9500');
}

/* Footer
---------------------------------------- */
footer {
  width: 100%;
  bottom: 0;
  padding: 40px 0 20px;
  text-align: center;
}
footer p {
  margin-bottom: 40px;
}
footer img {
  width: 104px;
  margin-bottom: 100px;
}

.social {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
  color: #000;
}
.social ul {
  display: inline-block;
  width: 96px;
  padding: 3px;
  height: 20px;
}

.social a {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  padding: 8px 16px 8px 42px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  text-decoration: none;
  color: black;
  opacity: .95;
  transition: opacity .2s linear;
}

.social a:hover {
  opacity: 1;
}

.social .twitter:before {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  background-image: url("twitter.png");
  content: "";
}

.social .facebook:before {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  background-image: url("facebook.png");
  content: "";
}

.social .email:before {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  background-image: url("mail.png");
  content: "";
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .social .twitter:before {
    background-image: url("twitter@2x.png");
    background-size: 26px 26px;
  }

  .social .facebook:before {
    background-image: url("facebook@2x.png");
    background-size: 26px 26px;
  }

  .social .email:before {
    background-image: url("mail@2x.png");
    background-size: 26px 26px;
  }
}
a {
  color: #fe620f;
}
