/* line 17, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h2 span, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.0.0-p481/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* Global
---------------------------------------- */
/* line 5, ../sass/partials/_global.scss */
* {
  -webkit-font-smoothing: antialiased;
}

/* line 9, ../sass/partials/_global.scss */
body {
  margin: 0px;
  padding: 0px;
  background-color: #fff;
  color: #222222;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 15, ../sass/partials/_global.scss */
body a {
  text-decoration: none;
}

/* line 20, ../sass/partials/_global.scss */
::selection {
  color: white;
  background: #56c6fa;
}

/* line 25, ../sass/partials/_global.scss */
::-moz-selection {
  color: white;
  background: #56c6fa;
}

/* line 30, ../sass/partials/_global.scss */
.wrapper {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: url("bg.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  text-rendering: optimizeLegibility;
  height: 700px;
}

/* line 44, ../sass/partials/_global.scss */
section {
  margin: 85px 0;
}
/* line 46, ../sass/partials/_global.scss */
section img {
  width: 175px;
  margin-bottom: 40px;
}

/* line 52, ../sass/partials/_global.scss */
.inner {
  width: 600px;
  margin: 0 auto;
  margin-bottom: 80px;
}

@media (max-width: 768px) {
  /* line 59, ../sass/partials/_global.scss */
  .inner {
    width: 80%;
  }
}
@media (max-width: 580px) {
  /* line 65, ../sass/partials/_global.scss */
  .inner {
    width: 95%;
  }
}
/* line 70, ../sass/partials/_global.scss */
.innercolumn {
  width: 80%;
  margin: 0 auto;
  border-top: 1px solid rgba(182, 196, 209, 0.3);
}

/* line 76, ../sass/partials/_global.scss */
form {
  position: relative;
  margin: 38px auto 0;
}

/* line 82, ../sass/partials/_global.scss */
input[type="email"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 25px 30px;
  background-color: #fff;
  border: 1px solid #fff;
  width: 510px;
  color: #000;
  margin: 0 10px 20px 0;
  font-size: 20px;
}

/* line 98, ../sass/partials/_global.scss */
input[type="submit"] {
  cursor: pointer;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: inline-block;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  padding: 21px 21px;
  border: 1px solid #ff9500;
  width: 90px;
  background: url("button-1@2x.png") no-repeat center center;
  background-size: 90px 59px;
  color: #fff;
  margin-top: 10px;
  margin-left: -142px;
  font-size: 12px;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

/* line 120, ../sass/partials/_global.scss */
.clear {
  display: inline-block;
}

/* line 124, ../sass/partials/_global.scss */
.clear:before {
  background: url("swift@2x.png");
  background-size: 35px 31px;
}

/* line 129, ../sass/partials/_global.scss */
input[type="submit"]:hover {
  background-color: #ff7621;
  border: 1px solid #ff7621;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

@media screen and (max-width: 640px) {
  /* line 139, ../sass/partials/_global.scss */
  input[type="email"] {
    box-sizing: border-box;
    width: 99% !important;
    margin-bottom: 10px !important;
    padding: 17px 0px 17px 18px;
    margin: 10px 10px 0 0;
  }

  /* line 147, ../sass/partials/_global.scss */
  input[type="submit"] {
    box-sizing: border-box;
    width: 99% !important;
    margin-bottom: 10px !important;
    background: url("button-2@2x.png") no-repeat center center;
    background-size: 584px 59px;
    padding: 17px 0px 17px 0px;
    margin: 10px 10px 0 0;
  }
}
/* line 158, ../sass/partials/_global.scss */
textarea:focus, input:focus {
  outline: 0;
}

@media screen and (max-width: 700px) {
  /* line 163, ../sass/partials/_global.scss */
  .wrapper {
    height: 750px;
  }
}
@media screen and (max-width: 650px) {
  /* line 169, ../sass/partials/_global.scss */
  .wrapper {
    height: 780px;
  }
}
@media screen and (max-width: 640px) {
  /* line 175, ../sass/partials/_global.scss */
  .clear {
    width: 100%;
  }

  /* line 179, ../sass/partials/_global.scss */
  .wrapper {
    height: 820px;
  }
}
@media screen and (max-width: 540px) {
  /* line 185, ../sass/partials/_global.scss */
  .wrapper {
    height: 870px;
  }
}
@media screen and (max-width: 400px) {
  /* line 191, ../sass/partials/_global.scss */
  .wrapper {
    height: 900px;
  }
}
/* Grid
---------------------------------------- */
/* line 3, ../sass/partials/_grid.scss */
.container {
  position: relative;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  -webkit-animation: fadeIn 1s 0.5s ease forwards;
  -moz-animation: fadeIn 1s 0.5s ease forwards;
  -ms-animation: fadeIn 1s 0.5s ease forwards;
  -o-animation: fadeIn 1s 0.5s ease forwards;
  animation: fadeIn 1s 0.5s ease forwards;
}

/* line 14, ../sass/partials/_grid.scss */
.row {
  width: 100%;
  display: inline-block;
  margin: 0px 30px 0px 30px;
}

/* line 20, ../sass/partials/_grid.scss */
.column {
  float: left;
  margin: 0% 0.980392156863% 20px 0.980392156863%;
}

/* line 25, ../sass/partials/_grid.scss */
.one-column {
  width: 6.372549019608%;
}

/* line 26, ../sass/partials/_grid.scss */
.two-column {
  width: 14.705882352941%;
}

/* line 27, ../sass/partials/_grid.scss */
.three-column {
  width: 23.039215686275%;
}

/* line 28, ../sass/partials/_grid.scss */
.four-column {
  width: 31.372549019608%;
}

/* line 29, ../sass/partials/_grid.scss */
.five-column {
  width: 39.705882352941%;
}

/* line 30, ../sass/partials/_grid.scss */
.six-column {
  width: 48.039215686275%;
}

/* line 31, ../sass/partials/_grid.scss */
.seven-column {
  width: 56.372549019608%;
}

/* line 32, ../sass/partials/_grid.scss */
.eight-column {
  width: 64.705882352941%;
}

/* line 33, ../sass/partials/_grid.scss */
.nine-column {
  width: 73.039215686275%;
}

/* line 34, ../sass/partials/_grid.scss */
.ten-column {
  width: 81.372549019608%;
}

/* line 35, ../sass/partials/_grid.scss */
.eleven-column {
  width: 89.705882352941%;
}

/* line 36, ../sass/partials/_grid.scss */
.twelve-column {
  width: 98.039215686275%;
}

/* line 37, ../sass/partials/_grid.scss */
.six-column-full {
  width: 50%;
}

@media (max-width: 680px) {
  /* line 40, ../sass/partials/_grid.scss */
  .six-column-full {
    width: 100% !important;
  }
}
@media (max-width: 768px) {
  /* line 45, ../sass/partials/_grid.scss */
  .one-column {
    width: 98.039215686275%;
  }

  /* line 49, ../sass/partials/_grid.scss */
  .two-column {
    width: 98.039215686275%;
  }

  /* line 53, ../sass/partials/_grid.scss */
  .three-column {
    width: 98.039215686275%;
  }

  /* line 57, ../sass/partials/_grid.scss */
  .four-column {
    width: 98.039215686275%;
  }

  /* line 61, ../sass/partials/_grid.scss */
  .five-column {
    width: 98.039215686275%;
  }

  /* line 65, ../sass/partials/_grid.scss */
  .six-column {
    width: 98.039215686275%;
  }

  /* line 69, ../sass/partials/_grid.scss */
  .seven-column {
    width: 98.039215686275%;
  }

  /* line 73, ../sass/partials/_grid.scss */
  .eight-column {
    width: 98.039215686275%;
  }

  /* line 77, ../sass/partials/_grid.scss */
  .container {
    margin: 0 25px;
  }
}
/* Typography
---------------------------------------- */
/* line 3, ../sass/partials/_typography.scss */
h2, h2 span {
  font-size: 52px;
  font-weight: 200;
  line-height: 52px;
  margin-bottom: 20px;
}
/* line 9, ../sass/partials/_typography.scss */
h2 span {
  font-weight: 400;
}

/* line 15, ../sass/partials/_typography.scss */
p {
  font-size: 20px;
  letter-spacing: .1em;
  line-height: 30px;
  font-weight: 200;
  text-align: center;
}

/* Animations
---------------------------------------- */
/* Variables
---------------------------------------- */
/* Mixins
---------------------------------------- */
/* Header
---------------------------------------- */
/* line 3, ../sass/modules/_header.scss */
.line {
  height: 5px;
  background-color: #ff9500;
  /* Fallback Color */
  background-image: -webkit-gradient(linear, left top, left bottom, from(#ff5e3a), to(#ff9500));
  /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(to right, #ff5e3a, #ff9500);
  /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image: -moz-linear-gradient(to right, #ff5e3a, #ff9500);
  /* FF3.6 */
  background-image: -ms-linear-gradient(to right, #ff5e3a, #ff9500);
  /* IE10 */
  background-image: -o-linear-gradient(to right, #ff5e3a, #ff9500);
  /* Opera 11.10+ */
  background-image: linear-gradient(to right, #ff5e3a, #ff9500);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ff5e3a', EndColorStr='#ff9500');
}

/* Footer
---------------------------------------- */
/* line 3, ../sass/modules/_footer.scss */
footer {
  width: 100%;
  bottom: 0;
  padding: 40px 0 20px;
  text-align: center;
}
/* line 8, ../sass/modules/_footer.scss */
footer p {
  margin-bottom: 40px;
}
/* line 11, ../sass/modules/_footer.scss */
footer img {
  width: 104px;
  margin-bottom: 100px;
}

/* line 17, ../sass/modules/_footer.scss */
.social {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 40px;
  color: #000;
}
/* line 22, ../sass/modules/_footer.scss */
.social ul {
  display: inline-block;
  width: 96px;
  padding: 3px;
  height: 20px;
}

/* line 30, ../sass/modules/_footer.scss */
.social a {
  position: relative;
  display: inline-block;
  margin: 0 2px;
  padding: 8px 16px 8px 42px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: .1px;
  text-decoration: none;
  color: black;
  opacity: .95;
  transition: opacity .2s linear;
}

/* line 44, ../sass/modules/_footer.scss */
.social a:hover {
  opacity: 1;
}

/* line 48, ../sass/modules/_footer.scss */
.social .twitter:before {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  background-image: url("twitter.png");
  content: "";
}

/* line 59, ../sass/modules/_footer.scss */
.social .facebook:before {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  background-image: url("facebook.png");
  content: "";
}

/* line 70, ../sass/modules/_footer.scss */
.social .email:before {
  position: absolute;
  top: 50%;
  left: 3px;
  width: 26px;
  height: 26px;
  margin-top: -13px;
  background-image: url("mail.png");
  content: "";
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* line 83, ../sass/modules/_footer.scss */
  .social .twitter:before {
    background-image: url("twitter@2x.png");
    background-size: 26px 26px;
  }

  /* line 88, ../sass/modules/_footer.scss */
  .social .facebook:before {
    background-image: url("facebook@2x.png");
    background-size: 26px 26px;
  }

  /* line 93, ../sass/modules/_footer.scss */
  .social .email:before {
    background-image: url("mail@2x.png");
    background-size: 26px 26px;
  }
}
/* line 99, ../sass/modules/_footer.scss */
a {
  color: #fe620f;
}
