/* Typography
---------------------------------------- */
h2 {
	font-size:52px;
	font-weight: 200;
	line-height:52px;
	margin-bottom:20px;
	span {
		@extend h2;
		font-weight: 400;
	}
}

p {
	font-size: 20px;
	line-height: 30px;
	font-weight: 200;
	text-align: center;
}